*{
  margin: 0;
  padding: 0;
}
body {
    cursor: pointer;
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}
ul {
  margin: 0;
  padding: 0;
}


#nav{
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.849);
  z-index: 1000;
  background-color: rgb(212, 164, 100);
}

#nav .logo img{
  width: 100px;
  cursor: pointer;
}

#nav ul{
  list-style: none;
}

#nav ul li{
  display: inline-block;
  margin: 25px;
  border-radius: 15px;
}

#nav ul li a{
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  color: #000;
  font-size: 13px; 
  transition: 0.1s;
}

#nav ul li a:hover{
  color: white;
  background-color:#836415;
  border-radius: 10px;
}



#ico:hover{
  background-color: #fcf94c;
  transform: scale(1.1);
  transition: 0.6s;
}

#dro{
  background-color: rgb(184, 178, 178);
  border-radius: none;
  text-align: center;
}

.t{
  box-shadow: 0 0 10px #f1da56;
} 

.ch{
  position: absolute;
  font-size: 35px;
  color: #ddec07;
}

#r{
  box-shadow: 0 0 15px #000;
  background-color:rgb(207, 155, 86)
}
#r:hover{
  background-color: #a8a619;
  transform: scale(1.1);
  transition: 0.3s;
}

#catecard{
  box-shadow: 0 0 10px #000;
}

#catecard:hover{
  box-shadow: 0 0 15px yellow; 
  transform: scale(1.1);
  transition: 0.3s;
}


h6{
  font-weight: bold;
}

.content {
    padding: 20px;
}

h1 {
    color: #333;
}

.gallery{
  width: 100%;
  padding: 40px 0;
}

.g:hover{
  box-shadow: 0 0 20px yellow;
}

.gallery h1{
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.gallery h1 span{
  margin-left: 15px;
  color: rgb(194, 129, 43);
  font-family: mv boli;
}

.gallery h1 span::after{
  content: '';
  width: 100%;
  height: 2px;
  background: rgb(194, 129, 43);
  display: block;
  position: relative;
  bottom: 15px;
}

.gallery .gallery_image_box{
  width: 80%;
  margin: 5px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  box-shadow: 0 0 20px yellow;
  place-items: center;
  background-color: burlywood;
}

.gallery .gallery_image_box .gallery_image{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 300px;
  height: 300px;
}


.gallery .gallery_image_box .gallery_image img{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px black;
}

.gallery .gallery_image_box .gallery_image h3{
  position: absolute;
  font-size: 30px;
  color: #ddec07;
  font-family: polo;
  margin-bottom: 180px;
}

.gallery .gallery_image_box .gallery_image p{
  position: absolute;
  width: 350px;
  margin-top: 80px;
  text-align: center;
  color: white;
  line-height: 22px;
}

.gallery .gallery_image_box .gallery_image .gallery_btn{
  position: absolute;
  margin-top: 200px;
  color: #000;
  background-color: #d6a833;
  padding: 7px 25px;
  text-decoration: none;
}

.gallery .gallery_image_box .gallery_image .gallery_btn:hover{
  background-color: #bdba12;
  box-shadow: 0 0 20px yellow;
  transform: scale(1.1);
  transition: 0.3s;
}

#ca{
  box-shadow: 0 0 12px yellow;
}

#ca:hover{
  box-shadow: 0 0 10px #000;
  transform: scale(1.1);
  transition: 0.3s;
}

#irhead{
  font-weight: bold;
}


footer {
  background-color: #131414;
  padding: 2px 0;
  color: #fcfbfb;
  text-align: center;
}
.footer-links {
  list-style: none;
  padding: 0;
  line-height: 10px;
  margin: 20px;
}
.footer-links li {
  margin-bottom: 12px;
}
.footer-links a {
  color: #fdfdfd;
  text-decoration: none;
}
.footer-links a:hover {
  color: #007bff;
}
.if{
  display: inline;
  font-size: 20px;
}

.fh{
  font-size: 20px;
  color: rgb(187, 65, 65);
  margin: 10px;
}

.f{
  box-shadow: 0 0 10px #f1da56;
  width: 140px;
  height: 100px;
  margin: 15px;
}
.f:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
